{% extends 'layouts/default/page.html' %}

{% load django_tables2 %}
{% load i18n %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-sm text-center">
    	<div class="card card-signin my-5">
			<div class="card-body">
            <h5 class="card-title text-center">Total Projects</h5>
            <h1>{{ total_projects }}</h1>
			</div>
		</div>
    </div>
    <div class="col-sm text-center">
    	<div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Total Vulnerabilities</h5>
            <h1>{{ total_vulns }}</h1>
			</div>
		</div>
    </div>
    <div class="col-sm text-center">
    	<div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Total Hours</h5>
            <h1>{{ total_hours }}</h1>
			</div>
		</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm text-center">
    
    {% render_table table %}

    </div>
  </div>

{% endblock %}
