{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		  <div class="card my-5">
		    <div class="card-body">
		      <h5 class="card-title text-center">{% trans 'Logged Out' %}</h5>
		      {% trans 'See ya later!' %}
		    </div>
		      <ul>
		          <li>
		              <a href="{% url 'accounts:log_in' %}">{% trans 'Log in again' %}</a>
		          </li>
		      </ul>
		  </div>
		</div>
	</div>
</div>
{% endblock %}
