{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">{% trans 'Restore Password' %}</h5>
	    	{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}
	    	{% trans 'You should receive the email shortly.' %}
	    	<br>
	    	{% trans "If you don't receive an email, please make sure you've entered the address you signed up with, and check your spam folder." %}
        </div>
          <ul>
              <li>
                  <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
              </li>
              <li>
                  <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
