{% extends 'layouts/default/page.html' %}

{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">{% trans 'Charge Hours' %}</h5>
            <form class="form-signin" method="Post">
                {% csrf_token %}
                {% bootstrap_form form %}
              <div class="form-actions">
                <button class="btn btn-primary btn-lg text-uppercase" type="submit" disabled>{% trans 'Charge' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    $(function() {
      $("#id_charge_code").on('input', function() {
        var charge_code = $(this).val();
        var good_code = {"border-color" : "rgba(45, 202, 73, 0.34)",
                "background-color" : "rgba(45, 202, 73, 0.34)"}
        var bad_code = {"border-color" : "rgba(202, 4, 6, 0.34)",
                "background-color" : "rgba(202, 4, 6, 0.34)"}
        $.ajax({
          url: '/pms/projects/validate/charge/code/',
          data: {
            'charge_code': charge_code
          },
          dataType: 'json',
          success: function (data) {
            if (data.is_valid) {
              $('form .form-actions button').prop('disabled', false);
              $('#id_charge_code').css(good_code);
            }
            else
            {
              $('form .form-actions button').prop('disabled', true);
              $('#id_charge_code').css(bad_code);
            }
          }
        });

      });
    });
  </script>
{% endblock %}

