{% extends 'layouts/default/page.html' %}

{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">{% trans 'Update Project' %}</h5>
            <form class="form-signin" method="Post">
                {% csrf_token %}
                {% bootstrap_form form %}

              <input type="hidden" name="next" value="/pms/manage-project/{{ project_id }}/home/">
              <button class="btn btn-lg bg-h2l-red btn-block text-uppercase" type="submit">{% trans 'Update' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

