body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

h2 {
  font-size: 34px;
  color: #222222;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #222222;
  font-size: 16px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 60px 0;
}

p {
  line-height: 24px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #888888;
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

img {
  max-width: 100%;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 34px;
  color: #222222;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #353535;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #353535;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 22px 0;
  color: #fff;
}

header.masthead h2 {
  font-size: 1.5rem;
  font-family: 'Lato';
  color: #bcbcbc;
  margin: 35px 0 55px;
}

header.masthead .img-35 {
  max-width: 35%;
}

.service-list {
  padding: 0 0 0 0;
  font-size: 14px;
  margin-bottom: 40px;
}

.service-list-col1 {
  float: left;
  width: 60px;
}

.service-list-col2 {
  overflow: hidden;
}

.service-list-col1 i {
  font-style: normal;
  font-size: 38px;
  display: block;
  color: #222;
  line-height: 38px;
}

.client {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  text-align: center;
}

.client-part {
  background: url(../img/section-bg1.jpg) center center no-repeat;
  background-size: cover;
  padding: 55px 0;
  text-align: center;
}

.client-part-head {
  color: #fdfdfd;
  font-size: 28px;
  line-height: 41px;
  margin: 30px 0 10px;
  font-style: italic;
}

.client li {
  display: inline;
  margin: 0 15px;
}

.client li a {
  display: inline-block;
}

.client li a img {
  margin-bottom: 15px;
  /*border-radius: 50%;*/
}

.client li a h3 {
  color: #FFF;
}

.client li a span {
  color: #F1F1F1;
}

.team {
  padding: 85px 0;
}

.team h6 {
  margin-bottom: 40px;
}

.team-leader {
  width: auto;
  height: auto;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 7px rgba(241,241,241,0.80);
  margin: 7px 7px 25px 7px;
}

.team-leader-block {
  max-width: 993px;
  margin: 0 auto;
}

.team-leader-box {
  width: 30.66%;
  margin: auto;
  height: 490px;
  overflow: hidden;
  text-align: center;
}

.team-leader-shadow {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 50%;
}

.team-leader-shadow a {
  display: block;
  width: 100%;
  height: 100%;
}

.team-leader img {
  display: block;
  border-radius: 50%;
}

.team-leader ul {
  display: block;
  opacity: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -14px;
  z-index: 15;
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.team-leader ul li {
  display: inline;
  margin: 0 11px;
}

.team-leader ul li a {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.business-talking {
  background: url(../img/section-bg2.jpg) top center no-repeat;
  background-size: cover;
  padding: 60px 0 10px;
  text-align: center;
}

.business-talking h2 {
  font-weight: 700;
  margin: 20px 0 70px;
  text-transform: uppercase;
  font-size: 42px;
  color: #fff;
}

section#contact{
  background:url(../img/bg-map.png) left 190px no-repeat;
}

.contact-info-box {
  font-size: 15px;
  margin: 0 0 14px 68px;
  padding-left: 0;
}

.contact-info-box h3 {
  font-size: 15px;
  font-weight: 400;
  float: left;
  width: 102px;
  margin-right: 12px;
  line-height: 28px;
  text-transform: uppercase;
}

.contact-info-box h3 i {
  font-style: normal;
  font-size: 14px;
  color: #222222;
  font-weight: normal;
}

.contact-info-box span {
  line-height: 28px;
  display: block;
  overflow: hidden;
  color: #888;
}

#sendmessage {
  color: #c5b155;
  border: 1px solid #7cc576;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.quote-right {
  font-style: normal;
  width: 68px;
  height: 68px;
  margin: 0 auto;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: block;
  line-height: 68px;
  text-align: center;
  font-size: 27px;
  color: #FFF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

form .form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #141414;
  color: #FFF;
}
.footer-logo {
  margin: 0 auto 0;
  width: 180px;
}

.copyright {
  background-color: #000;
  min-height: 72px;
}

a {
  color: #000;
}

a:focus, a:hover, a:active {
  color: #353535;
}

.btn {
  border-width: 2px;
  text-transform: uppercase;
  width: 175px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.bg-primary {
  background-color: #141414 !important;
}

.bg-secondary {
  background-color: #000 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #141414;
  border-color: #141414;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #353535;
  border-color: #000;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #353535;
  border-color: #353535;
}

button.bg-primary:hover {
  background-color: #353535!important;
}
.btn.in-table {
    border:none;
    background-color: transparent;
    padding: 0px;
    width: 100%;
}