{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">{% trans 'Change Password' %}</h5>
            <form class="form-signin" method="Post">
                {% csrf_token %}
                {% bootstrap_form form %}
              <div class="form-actions">
                <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans 'Update' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
