{% extends 'layouts/default/page.html' %}

{% load django_tables2 %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-sm text-center">
            <div class="card card-signin mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">{% trans 'Project Hours' %}</h5>
                    <h1>{{ total_hours }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="card card-signin mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">{% trans 'Assigned Hours' %}</h5>
                    <h1>{{ assigned_hours }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="card card-signin mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">{% trans 'Consumed Hours' %}</h5>
                    <h1>{{ consumed_hours }}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="card card-signin mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">{% trans 'Remaining Hours' %}</h5>
                    <h1>{{ remaining_hours }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm text-center">
            <div id="accordionFunctions">
                <div class="card mt-3">
                    <div class="card-header" id="headingFunctions" data-toggle="collapse" data-target="#collapseFunctions" aria-expanded="false" aria-controls="collapseFunctions">
                        <a class="card-title"><span class="text-center font-weight-bold">{% trans 'Functions' %}</span></a>
                    </div>

                    <div id="collapseFunctions" class="collapse" aria-labelledby="headingFunctions" data-parent="#accordionFunctions">
                        <div class="card-body">
                            <div class="mx-auto text-center">
                                <a class="btn btn-primary btn-lg text-uppercase" href="{% url 'pms:assign_project' project_id %}">{% trans 'Assign Work' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for table in tables %}
    <div class="row justify-content-center">
        <div class="col-sm text-center mt-3">
                {% render_table table %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
  <script>
    var token = '{{ csrf_token }}';
    function alertTimeout(wait){
        setTimeout(function(){
            $('.container.mt-3.side-15').children('.alert:first-child').remove()
        }, wait);
    }
    bootstrap_alert = function() {
    }
    bootstrap_alert.success = function() {
        $(".container.mt-3.side-15").prepend('<div class="alert alert-success alert-dismissable fade show" role="alert"> \
            <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button> \
            Notes successfully updated! \
        </div>');
        alertTimeout(3000);
    }
    bootstrap_alert.download = function() {
        $(".container.mt-3.side-15").prepend('<div class="alert alert-success alert-dismissable fade show" role="alert"> \
            <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button> \
            Export being generated. Please be patient as this may take awhile. \
        </div>');
        alertTimeout(3000);
    }
    bootstrap_alert.error = function() {
        $(".container.mt-3.side-15").prepend('<div class="alert alert-danger alert-dismissable fade show" role="alert"> \
            <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button> \
            Error updating notes! \
        </div>');
        alertTimeout(3000);
    }
    function updateNote(note){
        $.ajax({
            headers: { "X-CSRFToken": token },
            url: "",
            type: 'POST',
            data: jQuery.param({ "new_note": note }) ,
            dataType: 'json',
            success: function (response) {
                bootstrap_alert['success']();
                $("#project_notes").val(response.message);
                $("#project_notes_new").val('');
            },
            error: function () {
                bootstrap_alert.error();
            }
        }); 
    }

    $(".updateBtn").click(function(){
        updateNote($("#project_notes_new").val());
    });
    $(".exportProject").click(function(){
        bootstrap_alert.download();
    });
    $('tr.row-container[data-i="product_id"]').remove();
  </script>
{% endblock %}

